*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #aa7ecf;
}

.upper{
    margin-top: 7%;
    margin-left: 2%;
    text-align: center;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

#x{
    margin-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
#y{
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px; 
}

.content{
    text-align: center;
    margin-left: 2%;
    margin-top:5%;
}
.text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 900;
}
#guess{
    margin-top: 20px;
    height: 40px;
    width: 170px;
    background-color: bisque;
    border-radius: 10px;
    border: 2px solid rgb(33, 11, 11);
    font-size: 30px;
}
#submt{
    margin-top: 20px;
    height: 30px;
    width: 120px;
    background-color: bisque;
    border-radius: 10px;
    
}

.lower{
    text-align: center;
    margin-top: 30px;
    margin-left: 2%;
    font-size: 30px;
    font-weight: 400;
}
p{
    margin-top: 30px;
}